.root {
    -fx-background-color: #2B272F;
}

.text-field {
    -fx-background-color: transparent;
    -fx-pref-width: 100%;
    -fx-alignment: center-right;
    -fx-padding: 0 10px 0 0;
}

.history-field {
    -fx-text-fill: #9F9EA0;
    -fx-font-size: 20px;
    -fx-padding: 10px 10px 0 0;
}

.working-field {
    -fx-text-fill: white;
    -fx-font-size: 30px;
}

.button-grid {
    -fx-vgap: 0.5em;
    -fx-hgap: 0.5em;
    -fx-padding: 5px 10px 10px 10px;
}

.button {
    -fx-background-color: #5A565D;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-pref-width: 2em;
    -fx-pref-height: 2em;
    -fx-background-radius: 1em;
}

.top-button {
    -fx-background-color: #79757C;
}

.operator-button {
    -fx-background-color: #FF9501;
}
