.root {
    -fx-background-color: #2B272F;
}

.history-field, .working-field {
    -fx-pref-width: 100%;
}

.history-field {
    -fx-padding: 30px 10px 0 0;
    -fx-min-height: 25px;
}

.working-field {
    -fx-padding: 10px 10px 0 0;
}

.button-grid {
    -fx-vgap: 0.5em;
    -fx-hgap: 0.5em;
    -fx-padding: 5px 10px 10px 10px;
}

.button {
    -fx-background-color: #5A565D;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-background-radius: 20px;
    -fx-text-overrun: clip;
}

.small_font {
    -fx-font-size: 17px;
}

.top-button {
    -fx-background-color: #79757C;
}

.operator-button {
    -fx-background-color: #FF9501;
}
